.App {
  text-align: center;
}

.CollapsibleHeader {
  position: relative;
  cursor: pointer;
}

.CollapsibleHeader:hover {
  background-color: #FFFFE9;
}

.CollapsibleHeader svg {
  vertical-align: middle;
  margin: 8px;
}

.CollapsibleHeader path {
  transition: d 0.5s;
}